h1:hover
{
  color: blue;
  text-align: center;
  border: 3px blue solid;
  border-radius: 15px;
}
h1
{
  color: #25B047;
  font-size: 3em;
  text-align: center;
}
h2
{
  border: 4px blue solid;
  text-align: center;
}
img
{
  display: block;
  margin: auto;
}
ul
{
  display: inline-block;
  margin: auto;
  text-align: center;
}
.competences:hover
{
  color: red;
  text-align: left;
}
body
{
  background-color: #CDC8C7;
}
a,p
{
  text-align: center;
}
